ul{
    margin: 0;
}
.item{
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
    border-bottom: 1px solid #be513b;
    display: block;
}
.active{
    font-weight: bold;
}
.item:hover{
    text-decoration: underline;
}